* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
a {
    text-decoration: none;
    font-family: Lato;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

.header-left {
    display: flex;
    align-items: baseline;
}

.logo-icon {
    width: 44px;
    height: 38px;
}

.search {
    background-color: #222;
    border: 0;
    padding-left: 41px;
}

.header-right {
    display: flex;
    align-items: center;
    width: 159px;
    height: 29px;
    justify-content: space-between;
}

.nav-icon {
    width: 32px;
    height: 32px;
}

.cart-container {
    display: flex;
    justify-content: flex-end;
}

.svg-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.count {
    position: absolute;
    color: #fff;
}

.top {
    background-color: #f1e4e6;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 65px;
    align-items: center;
    align-content: center;
}

.top-heading {
    padding-left: 20%;
}

.top-img {
    height: 751px;
}

.header_title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.header_title_2nd_half {
    font-size: 36px;
    font-weight: 600;
}

.pink_text {
    color: #F16D7F;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 96px;
}

.category-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 260px;
}

.item-woman {
    background: linear-gradient( rgba(33, 22, 22, 0.70), rgba(0, 0, 0, 0.5)), url(img/top_main_item_background_1.png);
}

.item-man {
    background: linear-gradient( rgba(33, 22, 22, 0.70), rgba(0, 0, 0, 0.5)), url(img/top_main_item_background_2.png);
}

.item-kids {
    background: linear-gradient( rgba(33, 22, 22, 0.70), rgba(0, 0, 0, 0.5)), url(img/top_main_item_background_3.png);
}

.item-big {
    background: linear-gradient( rgba(33, 22, 22, 0.70), rgba(0, 0, 0, 0.5)), url(img/top_main_item_background_4.png);
    grid-column: 1 / 4;
    min-height: 180px;
}

.item-subtitle {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
}

.item-title {
    color: rgba(241, 109, 127, 1);
    font-size: 24px;
    font-weight: 600;
}

.featured-title {
    text-align: center;
    color: #222;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
}

.featured-subtitle {
    text-align: center;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 48px;
}

.product-card {
    background-color: #f8f8f8;
    max-width: 360px;
    min-height: 580px;
}

.products {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    margin-bottom: 48px;
}

.img-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.img-container:hover .overlay {
    opacity: 1;
}

.overlay {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(58, 56, 56, 0.86);
}

.card-img {
    max-width: 100%;
}

.cart-link {
    display: flex;
    color: #fff;
    padding: 12px 14px 9px;
    border: 1px solid #ffffff;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart-img-link {
    padding-right: 12px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px 24px;
    gap: 16px;
}

.card-title {
    font-size: 13px;
    font-weight: 400;
    color: #000;
}

.card-info {
    font-size: 14px;
    font-weight: 300;
    color: #5d5d5d;
}

.card-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 400;
}

.featured-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.featured-more-button {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px 14px;
    border: 1px solid #F26376;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .top-heading {
        padding-left: 100px;
    }
    .top-picture {
        max-width: 80%;
    }
    .center {
        padding-left: calc(50% - 505px);
        padding-right: calc(50% - 505px);
    }
    .products {
        grid-template-columns: 315px 315px 315px;
    }
    .product-card {
        background-color: #f8f8f8;
        max-width: 360px;
        max-height: 520px;
    }
    .category-item {
        min-height: 230px;
    }
    .item-woman {
        background-size: 100%
    }
    .item-man {
        background-size: 100%
    }
    .item-kids {
        background-size: 100%
    }
    .item-big {
        background-size: 100%;
        min-height: 160px;
    }
}

@media (max-width: 768px) {
    .products {
        padding-left: 3%;
        padding-right: 2%;
        grid-template-columns: 360px 360px;
        gap: 16px;
    }
    .top-picture {
        max-height: 368px;
    }
    .center {
        padding-left: calc(50% - 374px);
        padding-right: calc(50% - 374px);
    }
    .header_title {
        font-size: 44px;
        line-height: 0.6;
        border-left: 12px solid #F16D7F;
        padding-bottom: 15px;
    }
    .header_title_2nd_half {
        font-size: 24px;
    }
    .top-paragraph {
        font-size: 20px;
        line-height: 24px;
    }
    .top-paragraph-big {
        font-size: 38px;
        line-height: 46px;
    }
    .categories {
        margin-bottom: 109px;
    }
    .category-item {
        min-height: 167px;
    }
    .item-woman {
        background-size: 100%
    }
    .item-man {
        background-size: 100%
    }
    .item-kids {
        background-size: 100%
    }
    .item-big {
        background-size: 100%;
        min-height: 116px;
    }
    .featured-subtitle {
        margin-bottom: 72px;
    }
    .products {
        padding-left: 1%;
        padding-right: 0%;
        margin-bottom: 32px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .products {
        grid-template-columns: 300px;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 40px;
        gap: 16px;
    }
    .header-right {
        display: flex;
        align-items: center;
        width: 159px;
        height: 29px;
        justify-content: flex-end;
    }
    .personal {
        display: none;
    }
    .cart {
        display: none;
    }
    .top-picture {
        display: none;
    }
    .center {
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
    }
    .top {
        justify-content: center;
        margin-bottom: 64px;
    }
    .top-heading {
        padding-left: 0px;
        height: 363px;
        display: flex;
        align-items: center;
    }
    .header_title {
        color: #222;
        font-family: Lato;
        font-size: 38px;
        font-style: normal;
        font-weight: 900;
        line-height: 0.6;
    }
    .header_title_2nd_half {
        font-size: 20px;
    }
    .top-paragraph {
        font-size: 20px;
        line-height: 24px;
    }
    .top-paragraph-big {
        font-size: 38px;
        line-height: 46px;
    }
    .featured-subtitle {
        margin-bottom: 65px;
    }
    .categories {
        display: grid;
        grid-template-columns: 300px;
        gap: 30px;
        margin-bottom: 64px;
    }
    .category-item {
        min-height: 167px;
    }
    .item-woman {
        background-size: 100%;
        height: 210px;
    }
    .item-man {
        background-size: 100%;
        height: 210px;
    }
    .item-kids {
        background-size: 100%;
        height: 210px;
    }
    .item-big {
        background: linear-gradient( rgba(33, 22, 22, 0.70), rgba(0, 0, 0, 0.5)), url(img/top_main_item_background_4_new.png);
        background-size: 100%;
        min-height: 111px;
        grid-column: inherit;
    }
}